html, body {
    height: 100%; /* Ensures they take up the full viewport height */
    margin: 0;
    padding: 0;
    overflow: hidden; /* This hides the scrollbar and prevents scrolling */
}

#root {
    height: 100%;
    width: 100%;
    
    --card-width: 30rem;
    --card-height: 22rem;
    
    perspective: 50rem;
}

.dummy-card-container-view {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.dummy-card-container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    transform-style: preserve-3d;
}

.dummy-card {
    scroll-snap-align: center;
    width: var(--card-width);
    height: var(--card-height);
    box-sizing: border-box;
    
    opacity: 0;
    
    background-color: black;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    box-sizing: border-box;
    position: absolute;
    
    background-color: #F0F0F0;
    
    top: calc(40% - var(--card-height) / 2);
    left: calc(50% - var(--card-width) / 2);
    
    transform-style: preserve-3d;
    --line-padding: 0.6rem;
    --line-left-padding: 3rem;
}

.card-title {
    padding: var(--line-padding);
    padding-left: calc(var(--line-left-padding) + 0.2rem);
    padding-bottom: 0rem;
    font-size: 1rem;
    height: 2rem;
}

.card-input {
    padding: var(--line-padding);
    padding-left: calc(var(--line-left-padding) + 0.2rem);
    padding-bottom: 0rem;
    font-size: 1rem;
    height: 2rem;
}

input {
    width: 100%;
    border: 0px;
    padding: 0;
    font-size: 1rem;
    font-family: inherit;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.card-content {
    padding: var(--line-padding);
    padding-left: calc(var(--line-left-padding) + 0.2rem);
    padding-bottom: 0rem;
    font-size: 1rem;
    height: 2rem;
}

.card-hline {
    margin-top: -0.71rem;
    height: 0rem;
    border: 0.1rem solid black;
}

.card-vline {
    border: 0.1rem solid black;
    top: 0;
    bottom: 0;
    left: 3rem;
    position: absolute;
}

.placeholder-card {
    width: var(--card-width);
    height: var(--card-height);
    box-sizing: border-box;
    position: absolute;
    
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border-style: dashed;
    border-color: #C0C0C0;
    
    display: grid;
    place-items: center;
    
    top: calc(40% - var(--card-height) / 2);
    left: calc(50% - var(--card-width) / 2);
    
    transform-style: preserve-3d;
    --line-padding: 0.6rem;
    --line-left-padding: 3rem;
}

.placeholder-card-text {
    text-align: center;
    text-wrap: balance;
    font-size: 1rem;
    color: #101010;
}